In [3]:
%load_ext sql
%sql sqlite:///geo.db

In [4]:
result = %sql SELECT distinct substr(pcd,-3,3) from postcode order by substr(pcd,-3,3)

 * sqlite:///geo.db
Done.

In [5]:
df = result.DataFrame()

In [6]:
df

     substr(pcd,-3,3)
0                 0AA
1                 0AB
2                 0AD
3                 0AE
4                 0AF
...               ...
3996              9ZU
3997              9ZW
3998              9ZX
3999              9ZY
4000              9ZZ

[4001 rows x 1 columns]

In [8]:
int(df.shape[0]).bit_length()

12

The first position is always a digit between 0 and 9 -> so we can store this in 4 bits.

How many unique combinations of the remainder exists?

In [83]:
result = %sql SELECT distinct substr(pcd,-2,2) from postcode order by substr(pcd,-2,2)
df = result.DataFrame()
df

 * sqlite:///geo.db
Done.

    substr(pcd,-2,2)
0                 AA
1                 AB
2                 AD
3                 AE
4                 AF
..               ...
396               ZU
397               ZW
398               ZX
399               ZY
400               ZZ

[401 rows x 1 columns]

In [84]:
int(df.shape[0]).bit_length()

9

This gives us a combined bit-length of 13 which is better than our original table, but still not as efficient as a lookup of the whole value-set

# Random stuff

In [67]:
from dahuffman import HuffmanCodec, load_shakespeare

In [61]:
value = " ".join([r[0] for r in result])

In [62]:
value = 'If this were a bit of longer text with repeat structures such as and the and text, then how will it do'
codec = HuffmanCodec.from_data(value)

In [63]:
codec.print_code_table()

Bits Code    Value Symbol
   2 00          0 ' '
   4 0100        4 'i'
   4 0101        5 'r'
   4 0110        6 's'
   5 01110      14 'd'
   5 01111      15 'l'
   4 1000        8 'h'
   5 10010      18 'u'
   7 1001100    76 _EOF
   7 1001101    77 ','
   7 1001110    78 'I'
   7 1001111    79 'b'
   3 101         5 't'
   6 110000     48 'c'
   6 110001     49 'f'
   7 1100100   100 'g'
   7 1100101   101 'p'
   6 110011     51 'x'
   5 11010      26 'n'
   5 11011      27 'o'
   5 11100      28 'w'
   5 11101      29 'a'
   4 1111       15 'e'

In [65]:
vallue = "a test value"
encoded = codec.encode(value)
encoded

b"\x9d\x89a\x18\xe7\xaf\x9d'\xa57\x88\xfd\xeb'\xa9\x7f:q,\x0b\xf9\x7f\xb4j\xb2\xc2\xc9}\x86\x96\x10u\x8e\xe9\xc5\x8f;\xa7\x17\xf3\xb3K\x1f\xa27\xc3\x88\xf7\x89Gn"

In [66]:
display(len(value))
display(len(encoded))
int.from_bytes(encoded, 'big').bit_length()

102

51

408

In [68]:
codec = load_shakespeare()
codec.print_code_table()

Bits Code                     Value Symbol
   4 0000                         0 'n'
   4 0001                         1 's'
   4 0010                         2 'h'
   5 00110                        6 'u'
   7 0011100                     28 'k'
   9 001110100                  116 'Y'
  14 00111010100000            3744 '0'
  14 00111010100001            3745 '3'
  13 0011101010001             1873 '‘'
  13 0011101010010             1874 'X'
  13 0011101010011             1875 '1'
  11 00111010101                469 'J'
  10 0011101011                 235 ':'
   8 00111011                    59 'W'
   8 00111100                    60 'H'
   8 00111101                    61 "'"
   9 001111100                  124 '!'
  16 0011111010000000         16000 'é'
  20 00111110100000010000    256016 'œ'
  20 00111110100000010001    256017 'Æ'
  21 001111101000000100100   512036 'î'
  22 0011111010000001001010 1024074 _EOF
  22 0011111010000001001011 1024075 '#'
  21 001111101000000100110   512038 '\t'
  21 001111101000000100111   512039 '$'
  18 001111101000000101       64005 'à'
  17 00111110100000011        32003 '|'
  15 001111101000001           8001 '9'
  14 00111110100001            4001 '4'
  14 00111110100010            4002 '2'
  15 001111101000110           8006 '5'
  16 0011111010001110         16014 '&'
  17 00111110100011110        32030 '*'
  17 00111110100011111        32031 'è'
  14 00111110100100            4004 '”'
  14 00111110100101            4005 ')'
  13 0011111010011             2003 'Z'
  12 001111101010              1002 'Q'
  12 001111101011              1003 'z'
  10 0011111011                 251 '_'
   8 00111111                    63 ';'
   4 0100                         4 'a'
   5 01010                       10 '\n'
   5 01011                       11 'd'
   6 011000                      24 'c'
   7 0110010                     50 'E'
   7 0110011                     51 'v'
   6 011010                      26 'f'
   7 0110110                     54 'T'
   8 01101110                   110 'C'
  10 0110111100                 444 'x'
  14 01101111010000            7120 '('
  15 011011110100010          14242 '8'
  15 011011110100011          14243 '6'
  15 011011110100100          14244 '"'
  22 0110111101001010000000 1823360 '%'
  22 0110111101001010000001 1823361 '@'
  22 0110111101001010000010 1823362 '\\'
  22 0110111101001010000011 1823363 '`'
  21 011011110100101000010   911682 '}'
  21 011011110100101000011   911683 'â'
  19 0110111101001010001     227921 'ç'
  20 01101111010010100100    455844 'É'
  20 01101111010010100101    455845 'ê'
  19 0110111101001010011     227923 '/'
  17 01101111010010101        56981 'æ'
  16 0110111101001011         28491 '7'
  14 01101111010011            7123 '“'
  12 011011110101              1781 '—'
  11 01101111011                891 'q'
   9 011011111                  223 'G'
   4 0111                         7 'o'
   4 1000                         8 't'
   5 10010                       18 'l'
   6 100110                      38 'w'
   6 100111                      39 '.'
   9 101000000                  320 'P'
   9 101000001                  321 '?'
   8 10100001                   161 'L'
   7 1010001                     81 'A'
   6 101001                      41 'y'
   6 101010                      42 ','
   9 101011000                  344 'F'
  10 1010110010                 690 'K'
  11 10101100110               1382 'j'
  11 10101100111               1383 'V'
   8 10101101                   173 'R'
   7 1010111                     87 'b'
   7 1011000                     88 'p'
   8 10110010                   178 'N'
  10 1011001100                 716 '-'
  11 10110011010               1434 ']'
  11 10110011011               1435 '['
   9 101100111                  359 'U'
   6 101101                      45 'm'
   5 10111                       23 'i'
   3 110                          6 ' '
   4 1110                        14 'e'
   5 11110                       30 'r'
   7 1111100                    124 'I'
   9 111110100                  500 'D'
   9 111110101                  501 'B'
   8 11111011                   251 'O'
   9 111111000                  504 '’'
   9 111111001                  505 'M'
   8 11111101                   253 'S'
   7 1111111                    127 'g'

In [69]:
from burrowswheeler import transform, inverse

In [73]:
def bwcomp(string):
    t = transform(string)
    print(f'{len(string)} => {len(t)}: {t}')

In [76]:
bwcomp("9SL")
bwcomp("1AA")
bwcomp("1ZZ")
bwcomp("9ZZ")
bwcomp("9BT")

3 => 5: ^S9|L
3 => 5: ^1A|A
3 => 5: ^1Z|Z
3 => 5: ^9Z|Z
3 => 5: ^9B|T

In [78]:
bwcomp("How about on a longer string? Does it help the longer the string gets?")

70 => 72: ?nwgtsaeterprgs ^|  ahhhggognnnn tt rr   eoiiooD llbHleettet  iu  sseoo?